h1{
  text-align: center;
  padding-top: 10px;
}


* {
  box-sizing: border-box;
 
}
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 214, 217);
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 5px 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 10px -5px}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
   
  }

  .card-list {
    margin:auto;
    text-align: left;
    padding: 20px 60px 20px 20px;
    font-size: 20px;
   
  }

  .card button {
  
    border-top: black;
    border-left: black;
    border-right: black;
  }

  ul{
    list-style-type: none;
  }

.special {
  background-color: lightblue;
  color: black;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
}